---
import Layout from "../layouts/Layout.astro";
import type { Proyecto } from "../lib/proyectos/proyectos";

interface Props {
	proyectos: Proyecto[];
}

const { proyectos } = Astro.props;
---
<Layout title="Leonardo Fabián Sombra" >

<div  id="grid" class="relative pt-20 bg-gradient-to-t from-blue-900 to-blue-400 w-full m-auto pb-[100px]">
    {proyectos.map((value) => (
         <a  
        href={`/project/${value.id}`}
        class=" w-11/12 h-[310px]"
        transition:name=`project ${value.id} box`
        >
            <img class="w-11/12 h-[310px] object-cover border-2 border-gray-100" src={value.src} alt={`Imagen ${value.id}`} 
            transition:name=`project ${value.id} image`
        />
        </a>
        ))}
</div>

</Layout>
<style>
    #grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        row-gap: 3%;
    }
    @media (width>700px) {
        #grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        row-gap: 3%;
    }
    }
</style>
